body {
    background-color: #1e1e1e;
    color: #e1e1e1;
    font-family: system-ui, sans-serif;
    font-weight: normal;
    text-align: center;
}

a:link,
a:visited {
    color: aqua;
}

.title {
    display: grid;
    place-content: center;
}

.current {
    display: grid;
    place-content: center;
    margin: 2rem 0;
    padding: 1rem;
    background-color: aqua;
    color: #1e1e1e;
    font-size: 1.4rem;
}

.recent-updates {
    --min: 15ch;
    --gap: 1rem;

    min-width: 50vw;
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: var(--gap);
    flex-flow: wrap;
    flex-direction: column;
}